# 1)Create a DataFrame, hospice_df, from the hospice CSV file

In [1]:
import pandas as pd

In [2]:
hospice_df = pd.read_csv('data/Hospice_General_Information.csv')

In [3]:
# Keep only the rows where facilities are in TN.
hospice_tn = hospice_df[hospice_df['State'] == 'TN']

In [4]:
# Keep only the Facility Name, Address Line 1, City, State, County Name, CMS Region, 
# Ownership Type, and Cerfification Date columns. 

hospice_ready = hospice_tn.drop(['CMS Certification Number (CCN)', 'Address Line 2', 
                 'Zip Code', 'PhoneNumber'], axis=1)

In [5]:
# Make all column names lower case and without spaces.
def lower_nospace(words):
    new_word = words.replace(" ", "")
    new_word = new_word.lower()
    return new_word

hospice_ready.rename(lower_nospace, axis='columns', inplace=True)

In [6]:
# Examine the first 5 rows and the last five rows of the TN hospice data.
print(hospice_ready.head())
print('\n')
print('\n')
print(hospice_ready.tail())

                            facilityname                       addressline1  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state countyname  cmsregion ownershiptype certificationdate
2889    NASHVILLE    TN   Davidson          4    Non-Profit        04/10/1984
2890      MEMPHIS    TN     Shelby          4    Non-Profit        08/31/1984
2891  CHATTANOOGA    TN   Hamilton          4    Non-Profit        06/30/1986
2892     BARTLETT    TN     Shelby          4    For-Profit        02/09/1987
2893  SPRINGFIELD    TN  Robertson          4         Other        07/13/1987




                              facilityname                   addressline1  \
2940        ENCOMPASS HOSPICE OF TENNESSEE    828 ROYAL PARKWAY SUITE 113
2941                       QUALITY HOSPICE        341 WEST CENTRAL AVENUE
2942                        HEARTH HOSPICE  1800A ROSSVILLE AVE SUITE 114
2943  AMEDISYS HOSPICE, AN ADVENTA COMPANY              400 ROYAL PARKWAY
2944                       KINDRED HOSPICE        430 STUART RD NE, STE 2

             city state countyname  cmsregion ownershiptype certificationdate
2940    NASHVILLE    TN   Davidson          4    For-Profit        06/16/2010
2941    JAMESTOWN    TN   Fentress          4    For-Profit        01/04/2013
2942  CHATTANOOGA    TN   Hamilton          4    For-Profit        03/22/2013
2943    NASHVILLE    TN   Davidson          4         Other        01/05/2016
2944    CLEVELAND    TN    Bradley          4    For-Profit        01/04/2017

In [7]:
# Print the dimensions of the data. How many hospice facilities are in TN?
print(hospice_ready.shape)

(56, 8)

In [8]:
hospice_ready.isnull().values.any()

False

## There are 56 facilities in TN

# 2)Create a DataFrame, cancer_df, from the cancer CSV file.

In [9]:
cancer_df = pd.read_csv('data/cancer_deaths.csv', skiprows=4, skipfooter=14,
                        engine='python')

In [10]:
# Look at the head and tail of the DataFrame.

print(cancer_df.head())
print('\n')
print('\n')
print(cancer_df.tail())

             County   FIPS Met Healthy People Objective of 161.4?  \
0         Tennessee  47999                                     No
1     United States      0                                     No
2  Trousdale County  47169                                     No
3      Scott County  47151                                     No
4   Cheatham County  47021                                     No

   Age-Adjusted Death Rate - deaths per 100,000  \
0                                         185.4
1                                         163.5
2                                         265.5
3                                         241.0
4                                         239.6

   Lower 95% Confidence Interval  Upper 95% Confidence Interval  \
0                          184.0                          186.8
1                          163.3                          163.7
2                          219.0                          319.1
3                          214.5                          270.0
4                          217.8                          263.0

   Average Annual Count Recent Trend  Recent 5-Year Trend in Death Rates  \
0                 13933      falling                                -1.4
1                586354      falling                                -1.5
2                    24       stable                                 0.0
3                    63       stable                                -0.5
4                    97       stable                                -0.6

   Lower 95% Confidence Interval.1  Upper 95% Confidence Interval.1
0                             -1.5                             -1.2
1                             -1.6                             -1.5
2                             -1.3                              1.3
3                             -1.1                              0.1
4                             -1.4                              0.3




               County   FIPS Met Healthy People Objective of 161.4?  \
92   Van Buren County  47175                                    Yes
93     Pickett County  47137                                    Yes
94     Fayette County  47047                                    Yes
95  Williamson County  47187                                    Yes
96       Moore County  47127                                    Yes

    Age-Adjusted Death Rate - deaths per 100,000  \
92                                         160.3
93                                         158.7
94                                         154.3
95                                         127.2
96                                         123.2

    Lower 95% Confidence Interval  Upper 95% Confidence Interval  \
92                          122.7                          207.4
93                          123.3                          203.9
94                          139.1                          170.7
95                          119.8                          134.9
96                           93.9                          160.5

    Average Annual Count Recent Trend  Recent 5-Year Trend in Death Rates  \
92                    14       stable                                -0.9
93                    15       stable                                -0.5
94                    81      falling                                -1.4
95                   239      falling                                -3.8
96                    12      falling                                -2.1

    Lower 95% Confidence Interval.1  Upper 95% Confidence Interval.1
92                             -2.4                              0.6
93                             -1.8                              0.9
94                             -2.2                             -0.5
95                             -4.8                             -2.9
96                             -3.8                             -0.4

In [11]:
# Print the shape of the cancer data.
print(cancer_df.shape)

(97, 11)

In [12]:
cancer_df.isnull().values.any()

False

# 3)Create a DataFrame, pop_df, from the census CSV file.

In [13]:
# Look at the head and the tail
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv', skiprows=1)

In [14]:
print(pop_df.head())
print('\n')
print('\n')
print(pop_df.tail())

               Id    Id2                   Geography  \
0  0500000US47001  47001  Anderson County, Tennessee
1  0500000US47003  47003   Bedford County, Tennessee
2  0500000US47005  47005    Benton County, Tennessee
3  0500000US47007  47007   Bledsoe County, Tennessee
4  0500000US47009  47009    Blount County, Tennessee

   April 1, 2010 - Census - Both Sexes; Total  \
0                                       75129
1                                       45058
2                                       16489
3                                       12876
4                                      123010

   April 1, 2010 - Census - Male; Total  \
0                                 36308
1                                 22357
2                                  8073
3                                  6964
4                                 59559

   April 1, 2010 - Census - Female; Total  \
0                                   38821
1                                   22701
2                                    8416
3                                    5912
4                                   63451

   April 1, 2010 - Estimates Base - Both Sexes; Total  \
0                                              75094
1                                              45056
2                                              16491
3                                              12872
4                                             123100

   April 1, 2010 - Estimates Base - Male; Total  \
0                                         36288
1                                         22356
2                                          8074
3                                          6962
4                                         59596

   April 1, 2010 - Estimates Base - Female; Total  \
0                                           38806
1                                           22700
2                                            8417
3                                            5910
4                                           63504

   Population Estimate (as of July 1) - 2010 - Both Sexes; Total  \
0                                              75112
1                                              45086
2                                              16511
3                                              12882
4                                             123213

                                    ...                                    \
0                                   ...
1                                   ...
2                                   ...
3                                   ...
4                                   ...

   Population Estimate (as of July 1) - 2014 - Females; Median age (years)  \
0                                               44.8
1                                               38.4
2                                               48.3
3                                               46.3
4                                               44.1

   Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)  \
0                                               43.3
1                                               37.2
2                                               46.6
3                                               43.4
4                                               43.4

   Population Estimate (as of July 1) - 2015 - Male; Median age (years)  \
0                                               41.4
1                                               35.9
2                                               45.2
3                                               41.7
4                                               42.1

   Population Estimate (as of July 1) - 2015 - Female; Median age (years)  \
0                                               44.8
1                                               38.5
2                                               48.0
3                                               46.5
4                                               44.5

   Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)  \
0                                               43.3
1                                               37.5
2                                               47.1
3                                               43.5
4                                               43.7

   Population Estimate (as of July 1) - 2016 - Male; Median age (years)  \
0                                               41.5
1                                               36.2
2                                               45.7
3                                               41.9
4                                               42.2

   Population Estimate (as of July 1) - 2016 - Female; Median age (years)  \
0                                               45.1
1                                               38.8
2                                               48.4
3                                               46.4
4                                               44.9

   Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)  \
0                                               43.2
1                                               37.5
2                                               47.4
3                                               43.9
4                                               43.8

   Population Estimate (as of July 1) - 2017 - Male; Median age (years)  \
0                                               41.2
1                                               36.2
2                                               46.0
3                                               42.1
4                                               42.3

   Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0                                               45.0
1                                               38.9
2                                               48.7
3                                               47.3
4                                               45.1

[5 rows x 993 columns]




                Id    Id2                     Geography  \
90  0500000US47181  47181       Wayne County, Tennessee
91  0500000US47183  47183     Weakley County, Tennessee
92  0500000US47185  47185       White County, Tennessee
93  0500000US47187  47187  Williamson County, Tennessee
94  0500000US47189  47189      Wilson County, Tennessee

    April 1, 2010 - Census - Both Sexes; Total  \
90                                       17021
91                                       35021
92                                       25841
93                                      183182
94                                      113993

    April 1, 2010 - Census - Male; Total  \
90                                  9402
91                                 17159
92                                 12640
93                                 89336
94                                 55834

    April 1, 2010 - Census - Female; Total  \
90                                    7619
91                                   17862
92                                   13201
93                                   93846
94                                   58159

    April 1, 2010 - Estimates Base - Both Sexes; Total  \
90                                              17027
91                                              35015
92                                              25836
93                                             183252
94                                             114057

    April 1, 2010 - Estimates Base - Male; Total  \
90                                          9404
91                                         17157
92                                         12637
93                                         89371
94                                         55863

    April 1, 2010 - Estimates Base - Female; Total  \
90                                            7623
91                                           17858
92                                           13199
93                                           93881
94                                           58194

    Population Estimate (as of July 1) - 2010 - Both Sexes; Total  \
90                                              16987
91                                              35042
92                                              25821
93                                             184130
94                                             114677

                                     ...                                    \
90                                   ...
91                                   ...
92                                   ...
93                                   ...
94                                   ...

    Population Estimate (as of July 1) - 2014 - Females; Median age (years)  \
90                                               45.8
91                                               39.2
92                                               44.0
93                                               39.7
94                                               41.1

    Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)  \
90                                               42.6
91                                               37.6
92                                               42.7
93                                               39.0
94                                               40.2

    Population Estimate (as of July 1) - 2015 - Male; Median age (years)  \
90                                               39.8
91                                               36.0
92                                               41.0
93                                               38.2
94                                               39.2

    Population Estimate (as of July 1) - 2015 - Female; Median age (years)  \
90                                               46.5
91                                               39.2
92                                               44.2
93                                               39.7
94                                               41.1

    Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)  \
90                                               42.7
91                                               37.9
92                                               42.8
93                                               39.0
94                                               40.0

    Population Estimate (as of July 1) - 2016 - Male; Median age (years)  \
90                                               39.9
91                                               36.2
92                                               41.2
93                                               38.3
94                                               39.0

    Population Estimate (as of July 1) - 2016 - Female; Median age (years)  \
90                                               46.7
91                                               39.6
92                                               44.3
93                                               39.7
94                                               40.9

    Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)  \
90                                               43.1
91                                               38.3
92                                               42.8
93                                               39.0
94                                               39.9

    Population Estimate (as of July 1) - 2017 - Male; Median age (years)  \
90                                               40.0
91                                               36.6
92                                               41.3
93                                               38.3
94                                               39.0

    Population Estimate (as of July 1) - 2017 - Female; Median age (years)
90                                               47.4
91                                               40.1
92                                               44.4
93                                               39.7
94                                               40.8

[5 rows x 993 columns]

In [15]:
print(pop_df.shape)

(95, 993)

In [16]:
pop_df.isnull().values.any()

False